@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Serif', serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #000;
  background-image:url(/images/icnet.gif);
  background-position: center;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
}

.menu ul {
  display: inline-flex;
  margin: 50px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}

.logo img {
  width: 90px;
  margin-top: -7px;
  margin-right: 48px;
  border: 2px solid #00fdea;
  border-radius: 50%;
}

.active {
  color: #19dafa !important;
}

.s-btn {
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#42455a, #42455a),
    radial-gradient(circle at top left, #003ffd, #50d6ee);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.s-btn span {
  display: block;
  padding: 8px 32px;
}

.banner {
  width: 50%;
  height: 70%;
  top: 185px;
  left: 130px;
  position: absolute;
  color: #fff;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 38px;
  width: 640px;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  width: 650px;
  font-size: 15px;
  margin: 30px 0 30px 40px;
  line-height: 25px;
  color: #919191;
}

.app-pic {
  width: 50%;
  float: right;
}

.app-pic img {
  width: 100%;
  margin-top: -20px;
  padding-left: 430px;
  display: none;
}

.play-btn {
  margin-left: 40px;
  display: inline-flex;
}

.play-btn-inner {
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#42455a, #42455a),
    radial-gradient(circle at top left, #003ffd, #50d6ee);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
}

.play-btn-inner .fa {
  padding: 18px 0;
  font-size: 13px;
  cursor: pointer;
}

small {
  margin: auto 20px;
  cursor: pointer;
  font-size: 12px;
  color: #19dafa;
  letter-spacing: 3px;
}

.quick-links {
  left: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #003ffd, #50d6ee);
  display: none;
}

.quick-links ul {
  display: inline-flex;
  margin: 25px auto;
  text-align: center;
}

.quick-links ul li {
  list-style: none;
  margin: 0 50px;
  cursor: pointer;
}

.quick-links ul li .fa {
  font-size: 25px;
  color: #fff;
}

.quick-links ul li p {
  margin-top: 15px;
  font-size: 10px;
  color: #fff;
}

.soc-icons {
  right: 72px;
  bottom: 35px;
  position: absolute;
  /* color: #fff; */
}

.soc-icons ul li {
  list-style: none;
  margin-top: 15px;
  text-align: center;
}

.soc-icons ul li a {
  color: #00fdea;
  border-radius: 20%;
  border: 1px solid #00fdea;
  padding: 5px;
  display: block;
}
